
  <body>
    <header>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Customer Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="/dashboard">Dashboard <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/financial">Financial Sheet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/profile">View Profile</a>
        </li>
      </ul>
    </div>
    <a class="nav-link" href="#">Log out
    <i class="fa fa-sign-out"></i>
    </a>
  </nav>
</header>
  
    
<h1 class="display-6" style="text-align: center;margin-top: 10px;;">DASHBOARD</h1>
         
        <div class="container">
          <div id="st-box" class="zoom">
            <a href="#" routerLink="/inquiry">
            
                <img src=
"https://www.bellisario.psu.edu/assets/uploads/_1280xAUTO_fit_center-center_80_none/InquiryCycle-Text.jpg
                "style="width:280px; height:260px;">
            </a>
            </div>
    
            <div id="nd-box" class="zoom">
             
                 <a href="#" routerLink="/salesorder">
                
                <img src=
"https://www.erplain.com/sites/default/files/styles/erplain_scale_640/public/uploaded_images/Sales-workflow-salesorder_0.png?itok=sK22-mEa
                "style="width:280px; height:260px;">
            
            </a>
            </div>
             
            <div id="rd-box" class="zoom" >
              <a href="#" routerLink="/delivery">
                <img src=
"https://static.vecteezy.com/system/resources/previews/010/576/752/non_2x/delivery-shipping-banner-web-icon-set-delivery-email-global-logistic-safe-packaging-check-list-fast-shipping-and-more-illustration-concept-vector.jpg
                "style="width:280px; height:260px;">
              </a>
            </div>
            
        </div>

          
        <footer class="bg-info text-center text-lg-start fixed-bottom">
        
          <div class="text-center p-3" style="background-color:rgba(27, 166, 191, 0.2);">
            © 2023 Copyright:
            <a class="text-dark" href="#">kaartech.com</a>
          </div>   
        </footer>    
</body>

