<body>
  <header>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Customer Portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/dashboard">Dashboard <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#" routerLink="/financial">Financial Sheet</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/profile">View Profile</a>
            </li>
          </ul>
          
        </div>
        <a class="nav-link" href="#">Log out
          <i class="fa fa-sign-out"></i>
          </a>
        
      </nav>
    </header>
      
    <h1 class="display-6" style="text-align: center;margin-top: 20px;;">INVOICE DETAILS</h1>
    <div class="div-3">
      <table id="users" class="table table-bordered">
        <thead>
       <tr id="header"><th *ngFor ="let column of header">{{column}}   </th></tr>
        </thead>
        <tbody>
       <tr *ngFor ="let value of cust['Envelope']['Body']['ZFM_INVOICE_TResponse']['IT_INVOICE']['item']">           
        <td>{{value.BUKRS}}</td>
        <td>{{value.ERDAT}}</td>
        <td>{{value.NETWR}}</td>
        <td>{{value.INCO2}}</td>
        <td>{{value.LAND1}}</td>
        </tr>  
        </tbody>    
          </table>
        
     <mat-card-actions style="display: flex;flex-direction: column;max-height:30ex;">
      <button mat-button color=black; style="background-color:rgb(202, 142, 32);" (click)="downloadPDF()">PDF Download
  
      </button></mat-card-actions>
    </div>
    <footer class="bg-info text-center text-lg-start fixed-bottom">
        
      <div class="text-center p-3" style="background-color:rgba(47, 250, 11, 0.2);">
        © 2023 Copyright:
        <a class="text-dark" href="#">kaartech.com</a>
      </div>   
    </footer>
</body>