<body >
<header>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Customer Portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#" routerLink="/dashboard">Dashboard <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/financial">Financial Sheet</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/profile">View Profile</a>
            </li>
          </ul>
          
        </div>
        <a class="nav-link" href="#">Log out
          <i class="fa fa-sign-out"></i>
          </a>
        
      </nav>
    </header>
    
    <h1 class="display-6" style="text-align: center;margin-top: 10px;">DELIVERY DETAILS</h1>
      <div class="div-3">
          <table id="users" class="table table-bordered">
            <thead>
           <tr id="header"><th *ngFor ="let column of header">{{column}}   </th></tr>
            </thead>
            <tbody>
           <tr *ngFor ="let value of custdelivery['Envelope']['Body']['ZFM_DELIVERY_TResponse']['IT_DELIVERY_INFO']['item']">           
            <td>{{value.VBELN}}</td>
            <td>{{value.BTGEW}}</td>
            <td>{{value.SPE_WAUHR_IST}}</td>
            <td>{{value.LGNUM}}</td>
            </tr>     
            </tbody> 
              </table>
      </div>
    
    <footer class="bg-light text-center text-lg-start">
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(27, 166, 191, 0.6);">
        © 2023 Copyright:
        <a class="text-dark" href="#">kaartech.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    </body>